<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/location-page.css') }}">
  <title>Rhythm Tatsujin</title>
</head>
<body>
  <div class="container">
    <div class="header">
      <div class="logo">
        <h2>Rhythm Tatsujin</h2>
      </div>
      <div class="nav-links">
        <a href="/">Go Back</a>
      </div>
    </div>
    <input type="text" id="searchTextField">
    <div id="map"></div>
  </div>
  <script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>
  <script async src="{{ google_api }}" defer></script>
  <!-- <script async src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBAplb96hxmUYlnPS5QpDPQav5NN3VvhJA&libraries=places&callback=initMap" defer></script> -->
</body>
</html>