<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="refresh" content="3; url=/">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/success-page.css') }}">
  <title>Rhythm Tatsujin</title>
</head>
<body>
  <div class="container">
    <div class="header">
      <div class="logo">
        <h2>Rhythm Tatsujin</h2>
      </div>
      <div class="nav-links">
      </div>
    </div>
    <div class="success-content">
      <h1>Thank you for your purchase!</h1>
    </div>
  </div>
</body>
</html>