@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Lexend', sans-serif;
  line-height: 2.2rem;
  color: white;
}

.container {
  height: 100vh;
  background:
    linear-gradient(to top, rgba(0, 0, 0, 0.100), rgba(0, 0, 0, 0.900)),
    url(/static/imgs/success-bg.jpg) center / cover;
}

/* ===== HEADER ===== */
.header {
  position: fixed;
  top: 0;
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 5rem;
  background-color: black;
}

/* ===== SUCCESS CONTENT ===== */
.success-content {
  text-align: center;
  height: 100vh;
  display: grid;
  place-content: center;
}